.u-section-1 .u-sheet-1 {
  min-height: 219px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 21px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 21px;
}.u-section-2 .u-sheet-1 {
  min-height: 1831px;
}

.u-section-2 .u-form-1 {
  margin-top: 0;
  margin-bottom: 19px;
  height: 1321px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-icon-1 {
  height: 16px;
  width: 16px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-form-group-11 {
  margin-left: 0;
}

.u-section-2 .u-form-group-12 {
  margin-left: 0;
}

.u-section-2 .u-form-group-13 {
  margin-left: 0;
}

.u-section-2 .u-form-group-14 {
  margin-left: 0;
}

.u-section-2 .u-form-group-15 {
  margin-left: 0;
}

.u-section-2 .u-form-group-16 {
  width: 100%;
}

.u-section-2 .u-btn-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-group-2 {
    width: 100%;
  }

  .u-section-2 .u-form-group-3 {
    width: 100%;
  }

  .u-section-2 .u-form-group-4 {
    width: 100%;
  }

  .u-section-2 .u-form-group-5 {
    width: 100%;
  }

  .u-section-2 .u-form-group-6 {
    width: 100%;
  }

  .u-section-2 .u-form-group-7 {
    width: 100%;
  }

  .u-section-2 .u-form-group-8 {
    width: 100%;
  }

  .u-section-2 .u-form-group-9 {
    width: 100%;
  }

  .u-section-2 .u-form-group-10 {
    width: 100%;
  }

  .u-section-2 .u-form-group-11 {
    width: 100%;
  }

  .u-section-2 .u-form-group-12 {
    width: 100%;
  }

  .u-section-2 .u-form-group-13 {
    width: 100%;
  }

  .u-section-2 .u-form-group-14 {
    width: 100%;
  }

  .u-section-2 .u-form-group-15 {
    width: 100%;
  }
}@font-face {
  font-family: 'SiemensSansRoman';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SiemensSansRoman.ttf);
}