 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 93px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 63px;
  margin: 30px 83px 0 104px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 931px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 964px;
}

.u-section-2 .u-shape-1 {
  height: 73px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 402px;
  height: 226px;
  margin: -37px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -185px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2)  + 418px);
}

.u-section-2 .u-group-elements-1 {
  width: 190px;
  min-height: 59px;
  height: auto;
  margin: 6px calc(((100% - 1140px) / 2)  + 170px) 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  width: 28px;
  height: 28px;
  margin: 0 147px 0 15px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: -28px 103px 0 59px;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 28px;
  height: 28px;
  margin: -28px 59px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 28px;
  height: 28px;
  margin: -28px 15px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 17px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2)  + 418px);
}

.u-section-2 .u-group-elements-2 {
  width: 292px;
  min-height: 35px;
  margin: -655px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 161px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: -31px 0 0 131px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -8px calc(((100% - 1140px) / 2)  + 1045px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-group-1 {
  width: 65px;
  --radius: 10px;
  height: auto;
  min-height: 35px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding: 4px 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 4px 12px 0;
}

.u-section-2 .u-group-2 {
  width: 321px;
  --radius: 10px;
  height: auto;
  min-height: 40px;
  margin: 12px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  margin: 4px 9px 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 8px calc(((100% - 1140px) / 2)  + 950px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-group-3 {
  width: 69px;
  --radius: 10px;
  height: auto;
  min-height: 35px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-10 {
  font-size: 0.875rem;
  width: 37px;
  margin: 0 auto;
}

.u-section-2 .u-group-4 {
  width: 69px;
  --radius: 10px;
  height: auto;
  min-height: 35px;
  margin: -35px auto 0 calc(((100% - 1140px) / 2)  + 86px);
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  width: 37px;
  margin: 0 auto;
}

.u-section-2 .u-group-5 {
  width: 69px;
  --radius: 10px;
  height: auto;
  min-height: 35px;
  margin: -35px auto 0 calc(((100% - 1140px) / 2)  + 172px);
}

.u-section-2 .u-text-12 {
  font-size: 0.875rem;
  width: 37px;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 13px calc(((100% - 1140px) / 2)  + 818px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-group-6 {
  width: 161px;
  --radius: 10px;
  height: auto;
  min-height: 42px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-6 {
  padding: 4px 0;
}

.u-section-2 .u-text-14 {
  font-size: 0.875rem;
  margin: 0 12px;
}

.u-section-2 .u-group-7 {
  width: 190px;
  --radius: 10px;
  height: auto;
  min-height: 42px;
  margin: -42px auto 0 calc(((100% - 1140px) / 2)  + 177px);
}

.u-section-2 .u-container-layout-7 {
  padding: 4px 0;
}

.u-section-2 .u-text-15 {
  font-size: 0.875rem;
  margin: 0 12px;
}

.u-section-2 .u-group-8 {
  width: 212px;
  --radius: 10px;
  height: auto;
  min-height: 42px;
  margin: 13px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-8 {
  padding: 4px 0;
}

.u-section-2 .u-text-16 {
  font-size: 0.875rem;
  margin: 0 12px;
}

.u-section-2 .u-form-1 {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2)  + -15px);
  height: 146px;
  width: 170px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-passive-icon-1 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-2 .u-passive-icon-2 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-2 .u-passive-icon-3 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-2 .u-passive-icon-4 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-2 .u-passive-icon-5 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 1px 30px 3px;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: -20px calc(((100% - 1140px) / 2)  + 878px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-2 {
  width: 25px;
  height: 25px;
  margin: 20px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-3 {
  width: 25px;
  height: 25px;
  margin: -25px auto 0 calc(((100% - 1140px) / 2)  + 35px);
}

.u-section-2 .u-image-4 {
  width: 25px;
  height: 25px;
  margin: -25px auto 0 calc(((100% - 1140px) / 2)  + 70px);
}

.u-section-2 .u-group-9 {
  width: 149px;
  --radius: 10px;
  height: auto;
  min-height: 35px;
  margin: -522px auto 0 calc(((100% - 1140px) / 2)  + 78px);
}

.u-section-2 .u-container-layout-9 {
  padding: 4px 0;
}

.u-section-2 .u-text-18 {
  font-size: 0.875rem;
  margin: 0 12px;
}

.u-section-2 .u-btn-2 {
  --radius: 6px;
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  margin: -260px calc(((100% - 1140px) / 2)  + 360px) 60px auto;
  padding: 5px 14px 5px 13px;
}

.u-section-2 .u-icon-5 {
  font-size: 1.25em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: calc(((100% - 940px) / 2)  + 170px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 218px);
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2)  + 845px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 775px);
    margin-left: calc(((100% - 940px) / 2) + 4px);
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 750px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-group-4 {
    margin-left: calc(((100% - 940px) / 2) + 86px);
    height: auto;
  }

  .u-section-2 .u-group-5 {
    margin-left: calc(((100% - 940px) / 2) + 172px);
    height: auto;
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 618px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-6 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2) + 775px);
    margin-left: calc(((100% - 940px) / 2) + 4px);
  }

  .u-section-2 .u-group-7 {
    margin-left: calc(((100% - 940px) / 2)  + 177px);
    height: auto;
  }

  .u-section-2 .u-text-15 {
    margin-right: calc(((100% - 940px) / 2) + 775px);
    margin-left: calc(((100% - 940px) / 2) + 4px);
  }

  .u-section-2 .u-group-8 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-text-16 {
    margin-right: calc(((100% - 940px) / 2) + 775px);
    margin-left: calc(((100% - 940px) / 2) + 4px);
  }

  .u-section-2 .u-form-1 {
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-2 .u-text-17 {
    margin-right: calc(((100% - 940px) / 2)  + 678px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 35px);
  }

  .u-section-2 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 70px);
  }

  .u-section-2 .u-group-9 {
    margin-left: calc(((100% - 940px) / 2)  + 95px);
    height: auto;
  }

  .u-section-2 .u-text-18 {
    margin-right: calc(((100% - 940px) / 2) + 775px);
    margin-left: calc(((100% - 940px) / 2) + 4px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2)  + 143px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: calc(((100% - 720px) / 2)  + 170px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2)  + 625px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 559px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 530px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-4 {
    margin-left: calc(((100% - 720px) / 2) + 86px);
  }

  .u-section-2 .u-group-5 {
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + 398px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2) + 559px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-7 {
    margin-left: calc(((100% - 720px) / 2)  + 177px);
  }

  .u-section-2 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2) + 559px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-8 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-16 {
    margin-right: calc(((100% - 720px) / 2) + 559px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-form-1 {
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-2 .u-text-17 {
    margin-right: calc(((100% - 720px) / 2)  + 458px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 35px);
  }

  .u-section-2 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 70px);
  }

  .u-section-2 .u-group-9 {
    margin-left: calc(((100% - 720px) / 2)  + 95px);
  }

  .u-section-2 .u-text-18 {
    margin-right: calc(((100% - 720px) / 2) + 559px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: calc(((100% - 540px) / 2)  + 170px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2)  + 445px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2)  + 379px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 350px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-4 {
    margin-left: calc(((100% - 540px) / 2) + 86px);
  }

  .u-section-2 .u-group-5 {
    margin-left: calc(((100% - 540px) / 2) + 172px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2) + 218px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2)  + 379px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-7 {
    margin-left: calc(((100% - 540px) / 2)  + 177px);
  }

  .u-section-2 .u-text-15 {
    margin-right: calc(((100% - 540px) / 2)  + 379px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-8 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-16 {
    margin-right: calc(((100% - 540px) / 2)  + 379px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-form-1 {
    margin-left: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-2 .u-text-17 {
    margin-right: calc(((100% - 540px) / 2) + 278px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 35px);
  }

  .u-section-2 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-2 .u-group-9 {
    margin-left: calc(((100% - 540px) / 2)  + 95px);
  }

  .u-section-2 .u-text-18 {
    margin-right: calc(((100% - 540px) / 2)  + 379px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 929px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-top: -150px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: calc(((100% - 340px) / 2)  + 150px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2)  + 245px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2)  + 179px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2)  + 150px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-4 {
    margin-left: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-2 .u-group-5 {
    margin-left: calc(((100% - 340px) / 2) + 172px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2) + 18px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-6 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2)  + 179px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-7 {
    margin-left: calc(((100% - 340px) / 2)  + 150px);
  }

  .u-section-2 .u-text-15 {
    margin-right: calc(((100% - 340px) / 2)  + 179px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-8 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-16 {
    margin-right: calc(((100% - 340px) / 2)  + 179px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-form-1 {
    margin-left: calc(((100% - 340px) / 2) + -15px);
  }

  .u-section-2 .u-text-17 {
    margin-right: calc(((100% - 340px) / 2) + 78px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-2 .u-image-4 {
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-2 .u-group-9 {
    margin-left: calc(((100% - 340px) / 2)  + 95px);
  }

  .u-section-2 .u-text-18 {
    margin-right: calc(((100% - 340px) / 2)  + 179px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-3 .u-sheet-1 {
  min-height: 743px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-3 .u-group-1 {
  width: 215px;
  min-height: 43px;
  height: auto;
  --radius: 10px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 170px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 9px 6px 0 1063px;
}

.u-section-3 .u-icon-1 {
  width: 20px;
  height: 20px;
  margin: -29px 63px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 98px;
  height: 98px;
  background-image: url("images/69639310-0.jpeg");
  background-position: 50% 50%;
  margin: -20px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: -98px auto 0 111px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -15px auto 0 124px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1;
  margin: 0 13px 0 124px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 883px 0 124px;
}

.u-section-3 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: -29px auto 0 226px;
  padding: 0;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 4px 117px 0 auto;
  padding: 4px 12px 5px;
}

.u-section-3 .u-shape-1 {
  width: 750px;
  --radius: 10px;
  height: 33px;
  margin: -33px auto 0 138px;
}

.u-section-3 .u-list-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 236px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-3 .u-text-9 {
  font-size: 0.875rem;
  margin: 9px 6px 0 1063px;
}

.u-section-3 .u-icon-3 {
  width: 20px;
  height: 20px;
  margin: -29px 63px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 98px;
  height: 98px;
  background-image: url("images/fbad7f96f539969bdabf92007cbb9054e321115762c305bddc7f74ba2b2d5d6da0e8b72099cc8ee93fe6d5a9c8ca1150839dafc080d847e3ead0fa_1280.jpg");
  background-position: 50% 50%;
  margin: -20px auto 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: -98px auto 0 111px;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -15px auto 0 124px;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1;
  margin: 4px 13px 0 124px;
}

.u-section-3 .u-text-13 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 883px 0 124px;
}

.u-section-3 .u-image-3 {
  width: 88px;
  height: 59px;
  margin: -2px auto 0 124px;
}

.u-section-3 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 117px 0 auto;
  padding: 4px 12px 5px;
}

.u-section-3 .u-shape-2 {
  width: 750px;
  --radius: 10px;
  height: 33px;
  margin: -33px auto 0 138px;
}

.u-section-3 .u-list-3 {
  margin-top: 0;
  margin-bottom: 18px;
}

.u-section-3 .u-repeater-3 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 154px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-text-14 {
  font-size: 0.875rem;
  margin: 9px 6px 0 1063px;
}

.u-section-3 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: -29px 63px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 98px;
  height: 98px;
  background-image: url("images/2b58abd9088519167cfb049bcccfc482399b623641544796099ebc86944de0aabe0488d85342cd1673d9a4c1e30aa943eff2951262cd784d868bb6_1280.jpg");
  background-position: 50% 50%;
  margin: -20px auto 0 0;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  margin: -98px auto 0 111px;
}

.u-section-3 .u-text-16 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -15px auto 0 124px;
}

.u-section-3 .u-text-17 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1;
  margin: 0 13px 0 124px;
}

.u-section-3 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px 117px 0 auto;
  padding: 4px 12px 5px;
}

.u-section-3 .u-shape-3 {
  width: 750px;
  --radius: 10px;
  height: 33px;
  margin: -33px auto 0 138px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 869px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 783px;
    margin-left: 24px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 869px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 783px;
    margin-left: 24px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
    margin-left: 869px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-4 {
    margin-left: 649px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 587px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 649px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 587px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 649px;
  }

  .u-section-3 .u-shape-3 {
    width: 700px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-4 {
    margin-left: 469px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 407px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 168px;
  }

  .u-section-3 .u-shape-1 {
    width: 520px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 469px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 407px;
  }

  .u-section-3 .u-shape-2 {
    width: 520px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 469px;
  }

  .u-section-3 .u-shape-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-4 {
    margin-left: 269px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 68px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 76px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 207px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 103px;
  }

  .u-section-3 .u-shape-1 {
    width: 320px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 269px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 68px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 76px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 207px;
  }

  .u-section-3 .u-shape-2 {
    width: 320px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 269px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 68px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 76px;
  }

  .u-section-3 .u-shape-3 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 174px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-group-elements-1 {
  width: 379px;
  min-height: 35px;
  height: auto;
  margin: 0 185px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 207px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: -35px 0 0 172px;
}

.u-section-4 .u-group-elements-2 {
  width: 152px;
  min-height: 35px;
  height: auto;
  margin: -36px auto 0 358px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 93px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: -35px -114px 0 60px;
}

.u-section-4 .u-group-elements-3 {
  width: 328px;
  min-height: 35px;
  height: auto;
  margin: 0 236px 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 137px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: -35px -70px 0 191px;
}

.u-section-4 .u-group-elements-4 {
  width: 125px;
  min-height: 35px;
  height: auto;
  margin: -35px auto 0 358px;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 58px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: -35px 0 0 67px;
}

.u-section-4 .u-group-elements-5 {
  width: 164px;
  min-height: 35px;
  height: auto;
  margin: 10px auto 0 439px;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  margin: 0 0 0 79px;
}

.u-section-4 .u-text-11 {
  font-size: 1rem;
  font-weight: 700;
  margin: -35px 85px 0 0;
}

.u-section-4 .u-image-1 {
  width: 88px;
  height: 31px;
  margin: -37px auto 20px 613px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-elements-5 {
    margin-left: 339px;
  }

  .u-section-4 .u-image-1 {
    margin-bottom: 22px;
    margin-left: 513px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-elements-5 {
    margin-left: 229px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-elements-1 {
    margin-right: 161px;
  }

  .u-section-4 .u-group-elements-3 {
    margin-right: 212px;
  }

  .u-section-4 .u-group-elements-5 {
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    margin-left: 264px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-elements-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: 188px;
  }

  .u-section-4 .u-group-elements-3 {
    margin-right: 12px;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 215px;
  }

  .u-section-4 .u-image-1 {
    margin-bottom: 20px;
    margin-left: 164px;
  }
}@font-face {
  font-family: 'SiemensSansRoman';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SiemensSansRoman.ttf);
}