 .u-section-1 {
  background-image: url("images/colorazul443.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 85px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 45px;
  width: 940px;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1224px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -271px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 236px 346px 0 auto;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 28px;
  margin: -31px 0 0 810px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -23px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -7px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: -1px 0 0;
}

.u-section-2 .u-accordion-1 {
  width: 900px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  letter-spacing: 0px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.625em;
}

.u-section-2 .u-icon-2 {
  height: 11px;
  width: 11px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 136px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-group-1 {
  width: 139px;
  height: auto;
  min-height: 38px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 2px 0 -4px 12px;
}

.u-section-2 .u-icon-3 {
  margin-left: 49px;
}

.u-section-2 .u-group-2 {
  width: 139px;
  height: auto;
  min-height: 38px;
  margin: -38px auto 0 155px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 0 0 -2px 12px;
}

.u-section-2 .u-icon-4 {
  margin-left: 12px;
}

.u-section-2 .u-group-3 {
  width: 465px;
  height: auto;
  min-height: 39px;
  margin: -38px 106px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 0 0 0 12px;
}

.u-section-2 .u-group-4 {
  width: 101px;
  height: auto;
  min-height: 38px;
  background-image: none;
  margin: 14px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: 0 6px -1px;
}

.u-section-2 .u-group-5 {
  width: 101px;
  height: auto;
  min-height: 38px;
  background-image: none;
  margin: -38px auto 0 111px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  margin: 0 6px -1px;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin: -32px 1038px 0 0;
}

.u-section-2 .u-group-6 {
  min-height: 1055px;
  height: auto;
  width: 247px;
  margin: -4px auto 0 -31px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 22px;
}

.u-section-2 .u-accordion-2 {
  width: 226px;
  margin: 0 auto;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-icon-5 {
  height: 11px;
  width: 11px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 803px;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 8px;
}

.u-section-2 .u-list-1 {
  margin: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 474px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-9 {
  padding: 7px 9px;
}

.u-section-2 .u-text-13 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-10 {
  padding: 7px 9px;
}

.u-section-2 .u-text-14 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-11 {
  padding: 7px 9px;
}

.u-section-2 .u-text-15 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-12 {
  padding: 7px 9px;
}

.u-section-2 .u-text-16 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-13 {
  padding: 7px 9px;
}

.u-section-2 .u-text-17 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-14 {
  padding: 7px 9px;
}

.u-section-2 .u-text-18 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-15 {
  padding: 7px 9px;
}

.u-section-2 .u-text-19 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-16 {
  padding: 7px 9px;
}

.u-section-2 .u-text-20 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-17 {
  padding: 7px 9px;
}

.u-section-2 .u-text-21 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-container-layout-18 {
  padding: 7px 9px;
}

.u-section-2 .u-text-22 {
  line-height: 1.1;
  margin: 0 0 0 -4px;
}

.u-section-2 .u-list-2 {
  margin: 0;
}

.u-section-2 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 329px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 7px 9px 4px;
}

.u-section-2 .u-text-23 {
  line-height: 1.1;
  margin: 3px 22px 0 -6px;
}

.u-section-2 .u-list-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-20 {
  padding: 7px 9px 4px;
}

.u-section-2 .u-text-24 {
  line-height: 1.1;
  margin: 3px 22px 0 -6px;
}

.u-section-2 .u-list-item-13 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 7px 9px 4px;
}

.u-section-2 .u-text-25 {
  line-height: 1.1;
  margin: 3px 22px 0 -6px;
}

.u-section-2 .u-list-item-14 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 7px 9px 4px;
}

.u-section-2 .u-text-26 {
  line-height: 1.1;
  margin: 3px 22px 0 -6px;
}

.u-section-2 .u-list-item-15 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-23 {
  padding: 7px 9px 4px;
}

.u-section-2 .u-text-27 {
  line-height: 1.1;
  margin: 3px 22px 0 -6px;
}

.u-section-2 .u-list-item-16 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-24 {
  padding: 7px 9px 4px;
}

.u-section-2 .u-text-28 {
  line-height: 1.1;
  margin: 3px 22px 0 -6px;
}

.u-section-2 .u-list-item-17 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-25 {
  padding: 7px 9px 4px;
}

.u-section-2 .u-text-29 {
  line-height: 1.1;
  margin: 3px 22px 0 -6px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-icon-6 {
  height: 11px;
  width: 11px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 160px;
  height: auto;
}

.u-section-2 .u-container-layout-26 {
  padding: 0 13px;
}

.u-section-2 .u-list-3 {
  margin: 0;
}

.u-section-2 .u-repeater-3 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 424px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-27 {
  padding: 7px 9px;
}

.u-section-2 .u-text-30 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-container-layout-28 {
  padding: 7px 9px;
}

.u-section-2 .u-text-31 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-container-layout-29 {
  padding: 7px 9px;
}

.u-section-2 .u-text-32 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-container-layout-30 {
  padding: 7px 9px;
}

.u-section-2 .u-text-33 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-container-layout-31 {
  padding: 7px 9px;
}

.u-section-2 .u-text-34 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-container-layout-32 {
  padding: 7px 9px;
}

.u-section-2 .u-text-35 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-container-layout-33 {
  padding: 7px 9px;
}

.u-section-2 .u-text-36 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-icon-7 {
  height: 11px;
  width: 11px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 160px;
  height: auto;
}

.u-section-2 .u-container-layout-34 {
  padding: 0 10px;
}

.u-section-2 .u-list-4 {
  width: 196px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-4 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 144px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-35 {
  padding: 7px 9px 0;
}

.u-section-2 .u-text-37 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-container-layout-36 {
  padding: 7px 9px 0;
}

.u-section-2 .u-text-38 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-container-layout-37 {
  padding: 7px 9px 0;
}

.u-section-2 .u-text-39 {
  margin: 2px 16px 0 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-icon-8 {
  height: 11px;
  width: 11px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 327px;
  height: auto;
}

.u-section-2 .u-container-layout-38 {
  padding: 0 6px;
}

.u-section-2 .u-list-5 {
  width: 210px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-repeater-5 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 327px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-39 {
  padding: 7px 9px;
}

.u-section-2 .u-text-40 {
  margin: 0 16px 0 0;
}

.u-section-2 .u-container-layout-40 {
  padding: 7px 9px;
}

.u-section-2 .u-text-41 {
  margin: 0 16px 0 0;
}

.u-section-2 .u-container-layout-41 {
  padding: 7px 9px;
}

.u-section-2 .u-text-42 {
  margin: 0 16px 0 0;
}

.u-section-2 .u-container-layout-42 {
  padding: 7px 9px;
}

.u-section-2 .u-text-43 {
  margin: 0 16px 0 0;
}

.u-section-2 .u-container-layout-43 {
  padding: 7px 9px;
}

.u-section-2 .u-text-44 {
  margin: 0 16px 0 0;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-icon-9 {
  height: 11px;
  width: 11px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 160px;
  height: auto;
}

.u-section-2 .u-container-layout-44 {
  padding: 0 8px;
}

.u-section-2 .u-list-6 {
  margin: 0;
}

.u-section-2 .u-repeater-6 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 152px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-45 {
  padding: 5px 9px;
}

.u-section-2 .u-text-45 {
  line-height: 1.2;
  margin: 0 16px 0 0;
}

.u-section-2 .u-container-layout-46 {
  padding: 5px 9px;
}

.u-section-2 .u-text-46 {
  line-height: 1.2;
  margin: 0 16px 0 0;
}

.u-section-2 .u-container-layout-47 {
  padding: 5px 9px;
}

.u-section-2 .u-text-47 {
  line-height: 1.2;
  margin: 0 16px 0 0;
}

.u-section-2 .u-list-7 {
  width: 900px;
  margin: -1055px 0 0 auto;
}

.u-section-2 .u-repeater-7 {
  grid-auto-columns: calc(33.3333% - 10.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 10.6667px));
  min-height: 854px;
  grid-gap: 16px;
}

.u-section-2 .u-list-item-36 {
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-48 {
  padding: 4px 0 0;
}

.u-section-2 .u-image-1 {
  width: 261px;
  height: 153px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-48 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 24px 8px 0 12px;
}

.u-section-2 .u-group-elements-1 {
  width: 170px;
  min-height: 18px;
  height: auto;
  margin: 12px auto 0 18px;
}

.u-section-2 .u-text-49 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-50 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -15px 14px 0 70px;
}

.u-section-2 .u-group-elements-2 {
  width: 163px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 20px;
}

.u-section-2 .u-text-51 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-2 .u-text-52 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 92px;
}

.u-section-2 .u-group-elements-3 {
  width: 251px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 18px;
}

.u-section-2 .u-text-53 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 103px 0 0;
}

.u-section-2 .u-text-54 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 147px;
}

.u-section-2 .u-group-elements-4 {
  width: 258px;
  min-height: 22px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-2 .u-text-55 {
  line-height: 1.1;
  font-weight: 700;
  margin: 1px 149px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 21px;
  height: 21px;
  margin: -19px auto 0 105px;
}

.u-section-2 .u-shape-2 {
  width: 21px;
  height: 21px;
  margin: -21px 100px 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 21px;
  height: 21px;
  margin: -21px 64px 0 auto;
}

.u-section-2 .u-shape-4 {
  width: 21px;
  height: 21px;
  margin: -21px 0 0 auto;
}

.u-section-2 .u-shape-5 {
  width: 21px;
  height: 21px;
  margin: -20px 30px 0 auto;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 19px auto 0 39px;
  padding: 2px 5px 3px 4px;
}

.u-section-2 .u-btn-2 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: -27px auto 0 153px;
  padding: 2px 21px 3px 20px;
}

.u-section-2 .u-list-item-37 {
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-49 {
  padding: 4px 0 0;
}

.u-section-2 .u-image-2 {
  width: 261px;
  height: 153px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-56 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 24px 8px 0 12px;
}

.u-section-2 .u-group-elements-5 {
  width: 170px;
  min-height: 18px;
  height: auto;
  margin: 12px auto 0 18px;
}

.u-section-2 .u-text-57 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-58 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -15px 14px 0 70px;
}

.u-section-2 .u-group-elements-6 {
  width: 163px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 20px;
}

.u-section-2 .u-text-59 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-2 .u-text-60 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 92px;
}

.u-section-2 .u-group-elements-7 {
  width: 251px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 18px;
}

.u-section-2 .u-text-61 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 103px 0 0;
}

.u-section-2 .u-text-62 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 147px;
}

.u-section-2 .u-group-elements-8 {
  width: 258px;
  min-height: 22px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-2 .u-text-63 {
  line-height: 1.1;
  font-weight: 700;
  margin: 1px 149px 0 0;
}

.u-section-2 .u-shape-6 {
  width: 21px;
  height: 21px;
  margin: -19px auto 0 105px;
}

.u-section-2 .u-shape-7 {
  width: 21px;
  height: 21px;
  margin: -21px 100px 0 auto;
}

.u-section-2 .u-shape-8 {
  width: 21px;
  height: 21px;
  margin: -21px 64px 0 auto;
}

.u-section-2 .u-shape-9 {
  width: 21px;
  height: 21px;
  margin: -21px 0 0 auto;
}

.u-section-2 .u-shape-10 {
  width: 21px;
  height: 21px;
  margin: -20px 30px 0 auto;
}

.u-section-2 .u-btn-3 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 19px auto 0 39px;
  padding: 2px 5px 3px 4px;
}

.u-section-2 .u-btn-4 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: -27px auto 0 153px;
  padding: 2px 21px 3px 20px;
}

.u-section-2 .u-list-item-38 {
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-50 {
  padding: 4px 0 0;
}

.u-section-2 .u-image-3 {
  width: 261px;
  height: 153px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-64 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 24px 8px 0 12px;
}

.u-section-2 .u-group-elements-9 {
  width: 170px;
  min-height: 18px;
  height: auto;
  margin: 12px auto 0 18px;
}

.u-section-2 .u-text-65 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-66 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -15px 14px 0 70px;
}

.u-section-2 .u-group-elements-10 {
  width: 163px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 20px;
}

.u-section-2 .u-text-67 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-2 .u-text-68 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 92px;
}

.u-section-2 .u-group-elements-11 {
  width: 251px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 18px;
}

.u-section-2 .u-text-69 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 103px 0 0;
}

.u-section-2 .u-text-70 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 147px;
}

.u-section-2 .u-group-elements-12 {
  width: 258px;
  min-height: 22px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-2 .u-text-71 {
  line-height: 1.1;
  font-weight: 700;
  margin: 1px 149px 0 0;
}

.u-section-2 .u-shape-11 {
  width: 21px;
  height: 21px;
  margin: -19px auto 0 105px;
}

.u-section-2 .u-shape-12 {
  width: 21px;
  height: 21px;
  margin: -21px 100px 0 auto;
}

.u-section-2 .u-shape-13 {
  width: 21px;
  height: 21px;
  margin: -21px 64px 0 auto;
}

.u-section-2 .u-shape-14 {
  width: 21px;
  height: 21px;
  margin: -21px 0 0 auto;
}

.u-section-2 .u-shape-15 {
  width: 21px;
  height: 21px;
  margin: -20px 30px 0 auto;
}

.u-section-2 .u-btn-5 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 19px auto 0 39px;
  padding: 2px 5px 3px 4px;
}

.u-section-2 .u-btn-6 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: -27px auto 0 153px;
  padding: 2px 21px 3px 20px;
}

.u-section-2 .u-list-item-39 {
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-51 {
  padding: 4px 0 0;
}

.u-section-2 .u-image-4 {
  width: 261px;
  height: 153px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-72 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 24px 8px 0 12px;
}

.u-section-2 .u-group-elements-13 {
  width: 170px;
  min-height: 18px;
  height: auto;
  margin: 12px auto 0 18px;
}

.u-section-2 .u-text-73 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-74 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -15px 14px 0 70px;
}

.u-section-2 .u-group-elements-14 {
  width: 163px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 20px;
}

.u-section-2 .u-text-75 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-2 .u-text-76 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 92px;
}

.u-section-2 .u-group-elements-15 {
  width: 251px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 18px;
}

.u-section-2 .u-text-77 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 103px 0 0;
}

.u-section-2 .u-text-78 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 147px;
}

.u-section-2 .u-group-elements-16 {
  width: 258px;
  min-height: 22px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-2 .u-text-79 {
  line-height: 1.1;
  font-weight: 700;
  margin: 1px 149px 0 0;
}

.u-section-2 .u-shape-16 {
  width: 21px;
  height: 21px;
  margin: -19px auto 0 105px;
}

.u-section-2 .u-shape-17 {
  width: 21px;
  height: 21px;
  margin: -21px 100px 0 auto;
}

.u-section-2 .u-shape-18 {
  width: 21px;
  height: 21px;
  margin: -21px 64px 0 auto;
}

.u-section-2 .u-shape-19 {
  width: 21px;
  height: 21px;
  margin: -21px 0 0 auto;
}

.u-section-2 .u-shape-20 {
  width: 21px;
  height: 21px;
  margin: -20px 30px 0 auto;
}

.u-section-2 .u-btn-7 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 19px auto 0 39px;
  padding: 2px 5px 3px 4px;
}

.u-section-2 .u-btn-8 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: -27px auto 0 153px;
  padding: 2px 21px 3px 20px;
}

.u-section-2 .u-list-item-40 {
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-52 {
  padding: 4px 0 0;
}

.u-section-2 .u-image-5 {
  width: 261px;
  height: 153px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-80 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 24px 8px 0 12px;
}

.u-section-2 .u-group-elements-17 {
  width: 170px;
  min-height: 18px;
  height: auto;
  margin: 12px auto 0 18px;
}

.u-section-2 .u-text-81 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-82 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -15px 14px 0 70px;
}

.u-section-2 .u-group-elements-18 {
  width: 163px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 20px;
}

.u-section-2 .u-text-83 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-2 .u-text-84 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 92px;
}

.u-section-2 .u-group-elements-19 {
  width: 251px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 18px;
}

.u-section-2 .u-text-85 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 103px 0 0;
}

.u-section-2 .u-text-86 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 147px;
}

.u-section-2 .u-group-elements-20 {
  width: 258px;
  min-height: 22px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-2 .u-text-87 {
  line-height: 1.1;
  font-weight: 700;
  margin: 1px 149px 0 0;
}

.u-section-2 .u-shape-21 {
  width: 21px;
  height: 21px;
  margin: -19px auto 0 105px;
}

.u-section-2 .u-shape-22 {
  width: 21px;
  height: 21px;
  margin: -21px 100px 0 auto;
}

.u-section-2 .u-shape-23 {
  width: 21px;
  height: 21px;
  margin: -21px 64px 0 auto;
}

.u-section-2 .u-shape-24 {
  width: 21px;
  height: 21px;
  margin: -21px 0 0 auto;
}

.u-section-2 .u-shape-25 {
  width: 21px;
  height: 21px;
  margin: -20px 30px 0 auto;
}

.u-section-2 .u-btn-9 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 19px auto 0 39px;
  padding: 2px 5px 3px 4px;
}

.u-section-2 .u-btn-10 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: -27px auto 0 153px;
  padding: 2px 21px 3px 20px;
}

.u-section-2 .u-list-item-41 {
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-53 {
  padding: 4px 0 0;
}

.u-section-2 .u-image-6 {
  width: 261px;
  height: 153px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-88 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 24px 8px 0 12px;
}

.u-section-2 .u-group-elements-21 {
  width: 170px;
  min-height: 18px;
  height: auto;
  margin: 12px auto 0 18px;
}

.u-section-2 .u-text-89 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-90 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -15px 14px 0 70px;
}

.u-section-2 .u-group-elements-22 {
  width: 163px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 20px;
}

.u-section-2 .u-text-91 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-2 .u-text-92 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 92px;
}

.u-section-2 .u-group-elements-23 {
  width: 251px;
  min-height: 18px;
  height: auto;
  margin: 8px auto 0 18px;
}

.u-section-2 .u-text-93 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0 103px 0 0;
}

.u-section-2 .u-text-94 {
  line-height: 1.1;
  font-size: 0.875rem;
  margin: -16px 0 0 147px;
}

.u-section-2 .u-group-elements-24 {
  width: 258px;
  min-height: 22px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-2 .u-text-95 {
  line-height: 1.1;
  font-weight: 700;
  margin: 1px 149px 0 0;
}

.u-section-2 .u-shape-26 {
  width: 21px;
  height: 21px;
  margin: -19px auto 0 105px;
}

.u-section-2 .u-shape-27 {
  width: 21px;
  height: 21px;
  margin: -21px 100px 0 auto;
}

.u-section-2 .u-shape-28 {
  width: 21px;
  height: 21px;
  margin: -21px 64px 0 auto;
}

.u-section-2 .u-shape-29 {
  width: 21px;
  height: 21px;
  margin: -21px 0 0 auto;
}

.u-section-2 .u-shape-30 {
  width: 21px;
  height: 21px;
  margin: -20px 30px 0 auto;
}

.u-section-2 .u-btn-11 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 19px auto 0 39px;
  padding: 2px 5px 3px 4px;
}

.u-section-2 .u-btn-12 {
  --radius: 6px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: -27px auto 0 153px;
  padding: 2px 21px 3px 20px;
}

.u-section-2 .u-text-96 {
  font-weight: 400;
  margin: 36px 0 0 240px;
}

.u-section-2 .u-group-7 {
  width: 37px;
  height: auto;
  min-height: 37px;
  margin: 2px 488px 0 auto;
}

.u-section-2 .u-container-layout-54 {
  padding: 0 14px;
}

.u-section-2 .u-text-97 {
  font-weight: 400;
  margin: 0 auto -28px 0;
}

.u-section-2 .u-group-elements-25 {
  width: 330px;
  min-height: 36px;
  height: auto;
  margin: -36px 285px 60px auto;
}

.u-section-2 .u-text-98 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-99 {
  font-weight: 400;
  margin: -35px 0 0 auto;
}

.u-section-2 .u-text-100 {
  font-weight: 400;
  margin: -35px auto 0 140px;
}

.u-section-2 .u-text-101 {
  font-weight: 400;
  margin: -35px 153px 0 auto;
}

.u-section-2 .u-text-102 {
  font-weight: 400;
  line-height: 2.19;
  letter-spacing: 8px;
  margin: -35px 100px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 285px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 610px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-text-12 {
    margin-right: 838px;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-7 {
    grid-auto-columns: calc(33.333333333333336% - 10.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10.6667px));
  }

  .u-section-2 .u-text-96 {
    margin-left: 40px;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-text-97 {
    margin-left: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 218px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 390px;
  }

  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 618px;
  }

  .u-section-2 .u-list-7 {
    width: 720px;
  }

  .u-section-2 .u-repeater-7 {
    grid-auto-columns: calc(50% - 8.000025px);
    grid-template-columns: repeat(2, calc(50% - 8.000025px));
    min-height: 1561px;
  }

  .u-section-2 .u-text-48 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-50 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-56 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-58 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-64 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-66 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-72 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-74 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-2 .u-text-80 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-82 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-2 .u-text-88 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-90 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-2 .u-text-96 {
    margin-left: 0;
  }

  .u-section-2 .u-text-97 {
    margin-left: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 164px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 210px;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-group-3 {
    margin-right: 55px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 438px;
  }

  .u-section-2 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-7 {
    width: 540px;
  }

  .u-section-2 .u-repeater-7 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-54 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-97 {
    margin-left: 162px;
  }

  .u-section-2 .u-group-elements-25 {
    margin-right: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 103px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 238px;
  }

  .u-section-2 .u-list-7 {
    width: 340px;
  }

  .u-section-2 .u-repeater-7 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-group-7 {
    margin-right: 303px;
  }

  .u-section-2 .u-text-97 {
    margin-left: 102px;
  }

  .u-section-2 .u-group-elements-25 {
    margin-right: 10px;
  }
}/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilos para los select */
select {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}
/* Estilos para el input */
input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
/* Estilos para el botón */
button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
/* Estilos para los resultados de la búsqueda */
#searchResults {
    margin-top: 20px;
}
.stylescss {
}@font-face {
  font-family: 'SiemensSansRoman';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SiemensSansRoman.ttf);
}